<ion-toolbar color="danger">
  <ion-button class="back" class="clearbutton" fill="clear" (click)="goBack()">
    <ion-icon name="arrow-back-sharp" color="light"></ion-icon>
  </ion-button>
  <div class="datetime">
    <ion-title> Join</ion-title>
  </div>
</ion-toolbar>
<ion-content>
  <div class="back">
    <ion-card>
      <img src="../../assets/worship.jpg" />
      <ion-card-subtitle class="ion-text-center"
        >Anoited Worship</ion-card-subtitle
      >
      <ion-button
        expand="block"
        class="back"
        color="danger"
        class="light"
        (click)="join1()"
      >
        Join</ion-button
      >
    </ion-card>

    <ion-card>
      <img src="../../assets/dance.jpg" />
      <ion-card-subtitle class="ion-text-center"
        >Anointed Chosen</ion-card-subtitle
      >
      <ion-button
        expand="block"
        class="back"
        color="danger"
        class="light"
        (click)="join2()"
      >
        Join</ion-button
      >
    </ion-card>

    <ion-card>
      <img src="../../assets/selah.jpg" />
      <ion-card-subtitle class="ion-text-center"
        >Anointed Selah</ion-card-subtitle
      >
      <ion-button
        expand="block"
        class="back"
        color="danger"
        class="light"
        (click)="join3()"
      >
        Join</ion-button
      >
    </ion-card>
  </div>
</ion-content>
