<ion-content>
  <ion-toolbar color="danger">
    <ion-title>JA1 SPACE</ion-title>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="title">
    <h2 class="ion-text-center">ABOUT US</h2>
  </div>

  <div class="word">
    <ion-button
      expand="block"
      class="ion-margin-top"
      fill="outline"
      color="danger"
      class="ion-activated"
    >
      OVERVIEW OF THE CHURCH</ion-button
    >

    <ion-card>
      <ion-card-content>
        <img src="../../assets/about.jpg" />
      </ion-card-content>

      <ion-card-content class="ion-padding">
        <div class="text">
          In the heart of Batangas City, Philippines, a fast growing church is
          making a difference in the lives of many people. Focusing on
          <br />
          the mandate of Christ Jesus, they are reaching the lost, empowering
          the weak, healing the sick, setting the captives free, and sharing the
          love of God to those who are broken and had lost hope.
          <br />
          <br />
          They are making disciples and conquering the nations to fulfill the
          great commission, which Christ Jesus has given. Walking step by step,
          through God's grace, the church grew with impact and the rest was
          history.
          <br />
          <br />
          This is a testimony of God's faithfulness in the 15 fruitful years of
          Jesus the Anointed One Church.
          <br />
          <br />

          <ion-card-content>
            <img src="../../assets/bishop.jpg" />
          </ion-card-content>
          December 20, 1998 marks the humble birth of
          <h2>Jesus the Anointed One Church.</h2>
          On a Sunday afternoon, JA1 CHURCH, as it's famously known, rise in the
          service of reaching people for God.
          <br />
          <br />
          It was an unexpected event.
          <br />
          <br />
          Led by its founding pastor and president, Bishop Art Gonzales, the
          leadership of JA1 heeded God’s direction of spreading the fire of
          Inner Healing and Deliverance.
          <br />
          <br />
          The start of the journey came not that easy. Skeptics, of course,
          predicted that the church would not stand against heavy persecution
          and would soon die. Others thought that the church would continue but
          would be smaller and far less effective.
          <br />
          <br />
          Nobody knew from that day what lies ahead for the future of the
          birthed ministry but one thing is for sure. God had already planned
          the marvelous things that He will do to JA1.
          <br />
          <br />
          Against all these odds, JA1 Church faithfully heeded the
          covenant-calling of the Lord and inched her way to fulfill the
          instruction she have received in Genesis 12:1-3 and Luke 4:18-19.
          <br />
          <br />
          “The Lord has said to Abram, Leave your country, your people and your
          father’s household and go to the land I will show you. I will make you
          into a great nation and will bless you; I will make your name great,
          and you will be a blessing. I will bless those who bless, and whoever
          curses you I will curse; and all peoples on earth will be blessed
          through you.
          <br />
          <br />
          The Spirit of the Lord is on me, because He has anointed me to preach
          good news to the poor, He has sent me to proclaim freedom for the
          prisoner and recovery of sight for the blind, to release the
          oppressed, to proclaim the year of the Lords favor.”
          <br />
          <br />
          Bishop Art Gonzales responded to the call of God and faithfully holds
          fast to what the LORD had instructed.
          <br />
          <br />
          Then something big happened.
          <br />
          <br />
          Through each service of JA1 CHURCH, God demonstrated powerful signs
          and wonders.
          <br />
          <br />
          The outpouring of God's Spirit in each meeting was so thick that it
          resulted to amazing miracles that many had witnessed. It was a mighty
          outpouring that led people to experience deliverance and inner
          healing.
          <br />
          <br />
          Sick people were healed. Demons possessed were set freed. And those
          who are in bondage were delivered through the power and name of Jesus
          Christ.
          <br />
          <br />
          It was an astonishing sight. People witnessed the phenomenon in the
          Book of Acts as it was once more relived.
          <br />
          <br />
          Through these divine manifestations of God's presence, the Church grew
          in leaps and bounds. Evangelism, church growth, and church planting
          came to a great number. People from different walks of life
          surrendered their lives to God, made and accepted Jesus Christ as
          their personal LORD and Savior and experienced the liberating power of
          the Holy Spirit.
          <br />
          <br />
          In the Philippines, outreaches and daughter churches were founded
          stretching from the big islands of Luzon, Visayas and Mindanao. JA1
          became a strategic-territorial church that claimed the land for Christ
          and saturated it with the Gospel.
          <br />
          <br />
          But this was only the beginning of something bigger.
          <br />
          <br />
          Inner Healing and Deliverance Crusades and Conferences were held in
          different parts of the country. Mission Caravans were also established
          in every town, province and city. There was a great awakening.
          Hundreds of people encountered the mighty power of Christ. There were
          miracle healings, divine restorations and deliverances that proved
          once again that God is far more than able to the impossible.
          <br />
          <br />
          Indeed, no one can stop the flowing of God’s manifested power. It was
          so intense that even different Evangelical and Full gospel churches
          were imparted with this fire through JA1 CHURCH.
          <br />
          <br />
          As a result, churches were established in different parts of the
          globe, stretching from South East Asia, the East Asia, the Middle
          East, Europe, North America and Central America.
          <br />
          <br />
          By the mighty grace of God, there are one hundred sixty JA1 churches
          across the globe, bridging cross cultural missions and reaching
          different nationalities for Christ Jesus.
          <br />
          <br />
          Indeed, there is more to come for JA1 church and that season is now.
          <br />
          <br />
        </div>
      </ion-card-content>
    </ion-card>

    <ion-button
      expand="block"
      class="ion-margin-top"
      fill="outline"
      color="light"
      >HEAD PASTOR</ion-button
    >
    <ion-button
      expand="block"
      class="ion-margin-top"
      fill="outline"
      color="light"
    >
      MISSION AND VISION</ion-button
    >
    <ion-button
      expand="block"
      class="ion-margin-top"
      fill="outline"
      color="light"
    >
      DECLARATION OF FAITH</ion-button
    >
  </div>
  <ion-app>
    <ion-menu contentId="sideNav">
      <ion-toolbar color="danger"> </ion-toolbar>
      <ion-content color="danger">
        <ion-list>
          <br />
          <ion-menu-toggle>
            <br />
            <ion-item routerLink="/reservation">
              <ion-icon name="calendar-sharp" slot="end"></ion-icon>
              <ion-label>Reservation Events</ion-label>
            </ion-item>
            <br />
            <ion-item routerLink="/head">
              <ion-icon name="git-merge" slot="end"></ion-icon>
              <ion-label>Join</ion-label>
            </ion-item>
            <ion-button color="danger" (click)="logout()">Logout</ion-button>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="sideNav"></ion-router-outlet>
  </ion-app>
</ion-content>
