<ion-toolbar color="danger">
  <ion-button class="back" class="clearbutton" fill="clear" (click)="goBack()">
    <ion-icon name="arrow-back-sharp" color="light"></ion-icon>
  </ion-button>
  <div class="datetime">
    <ion-title> Reservation Events </ion-title>
  </div>
</ion-toolbar>
<ion-content>
  <div class="back">
    <ion-card>
      <img src="../../assets/wedding.jpeg" />
      <ion-card-subtitle class="ion-text-center">Wedding</ion-card-subtitle>
      <ion-button
        expand="block"
        class="back"
        color="danger"
        class="light"
        (click)="addevent1()"
      >
        Add Event</ion-button
      >
    </ion-card>

    <ion-card>
      <img src="../../assets/baptism-Houston.jpg" />
      <ion-card-subtitle class="ion-text-center">Baptism</ion-card-subtitle>
      <ion-button
        expand="block"
        class="back"
        color="danger"
        class="light"
        (click)="addevent2()"
      >
        Add Event</ion-button
      >
    </ion-card>

    <ion-card>
      <img src="../../assets/service.jpg" />
      <ion-card-subtitle class="ion-text-center">Service</ion-card-subtitle>
      <ion-button
        expand="block"
        class="back"
        color="danger"
        class="light"
        (click)="addevent3()"
      >
        Add Event</ion-button
      >
    </ion-card>

    <ion-card>
      <img src="../../assets/House-Blessing-scaled.jpg" />
      <ion-card-subtitle class="ion-text-center">Blessings</ion-card-subtitle>
      <ion-button
        expand="block"
        class="back"
        color="danger"
        class="light"
        (click)="addevent4()"
      >
        Add Event</ion-button
      >
    </ion-card>

    <ion-card>
      <img src="../../assets/birthday.jpg" />
      <ion-card-subtitle class="ion-text-center">Birthday</ion-card-subtitle>
      <ion-button
        expand="block"
        class="back"
        color="danger"
        class="light"
        (click)="addevent5()"
      >
        Add Event</ion-button
      >
    </ion-card>
  </div>
</ion-content>
