ion-buttons{
    height: 50px;
    margin-left: 10px;
    
}
ion-content{
    --background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.1)), 
    url("../../assets/Menu.jpg") no-repeat center center / cover;
}
.logo{
    margin-top: 20px;
    margin-left: 78%;
    width: 60px;
    position: fixed;

  }