ion-buttons {
  height: 50px;
  margin-left: 10px;
}
ion-content {
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("../../assets/bishop.jpg") no-repeat center center / cover;
}
.logo {
  margin-top: 20px;
  margin-left: 78%;
  width: 60px;
  position: fixed;
}
ion-card {
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../../assets/123\ \(2\).png") no-repeat center center / cover;
  margin-top: 27%;
}
ion-card-title {
  color: white;
  font-family: Impact;
}
ion-card-content {
  color: white;
}
.title h2 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 29px;
  color: #ff5b71;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}
.title p {
  margin-bottom: 55px;
  font-size: 21px;
  font-family: sans-serif;
  color: white;
  text-align: center;
  margin-top: 10px;
}
.continue {
  margin-left: 23%;
  width: 55%;
  color: #902329;
}

.clearbutton {
  margin-right: 68%;
}
