<ion-content>
  <ion-toolbar color="danger">
    <ion-title>Reservation</ion-title>
    <ion-button class="back" class="clearbutton" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back-sharp" color="light"></ion-icon>
    </ion-button>
</ion-toolbar>
  <img src="assets/image 8.png" class="logo"/>
  <ion-card class="outline">
    <ion-card-content>
      <div class="title">
        <h2 >Welcome To JA1 SPACE Reservation</h2>
      
        <p >We are delighted that you have chosen to 
          reserve a space with us. Whether you are planning a wedding, 
          a baptism, or any other special event, JA1 Mega  are open to you. Our dedicated 
          team is here to assist you every step of the way and ensure that your experience at
           our church is memorable and meaningful. We look forward to welcoming you and your guests 
           as you gather in our sacred space to celebrate and create cherished memories.
        </p>
      </div>
      <div class="continue">
        <ion-button expand="block" color="danger" fill="outline" routerLink="/date-time">Continue</ion-button>
        </div>
    </ion-card-content>
  </ion-card>

</ion-content>

